#virtual environment python subfolder
.venv/
.env/
venv/
env/

#visual studio code
.vscode/

# Windows thumbnails and links
Thumbs.db
._*
*.lnk

# backups
*.bak

# subfolders
__pycache__/
.result/
.output/
output/
log/
.log/

# ignore all log files
*.log

# tests
.coverage/
htmlcov/
.pytest_cache/
assets/
